<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACME Group</title>
    <link rel='stylesheet' href='stylesheets/protected.css'/>

    <!-- ADD Manifest File -->
    <link rel="manifest" href="manifest.json">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/superslides.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/slick.css" rel="stylesheet">
     <link id="switcher" href="css/themes/cyan-theme.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='stylesheets/index.css'/>


    <!-- ADD PUSH & ANALYTICS -->
    <script src="BMSPushSDK.js"></script>
    <script src="bmsanalytics.js"></script>



    <script>

    // ADD Code for registering PUSH and SEnabling ANALYTICS

    // Push

    function registerPush(){

    var bmsPush = new BMSPush()
    function callback(response) {
      console.log("Init Alert : " + response.response)
    }
    var initParams = {
      "appGUID":"<Push Service APPGUID>",
        "appRegion":"<Push Service Region>",
        "clientSecret":"<Push service clientSecret>"
    }

    var userId = document.getElementById('userNameSpan').innerHTML;
    bmsPush.initialize(initParams, callback)
    bmsPush.registerWithUserId(userId,function(response) {
     console.log("Reg Alert : " + response.response)
      sendAnalytics();
    })

  }

  // Analytics

  function enableAnalytics(){

    var appName = "<Analytics Service Name>";
    var apiKey = "<Analytics service API Key>";
    var hasUserContext=true; 
    var tenantId = "<Analytics Service tenantID>";
    BMSAnalytics.Client.initialize(BMSAnalytics.Client.REGION_US_SOUTH);
   
    BMSAnalytics.initialize(appName,apiKey,hasUserContext,BMSAnalytics.DeviceEvents.ALL,tenantId);
    BMSAnalytics.enable();
    BMSAnalytics.setUserIdentity(document.getElementById('userNameSpan').innerHTML);
    registerPush();
  }

  function sendAnalytics(){
    BMSAnalytics.log({'Logged in as : ':document.getElementById('userNameSpan').innerHTML});
    BMSAnalytics.Logger.setMaxLogStoreSize(10000);
    BMSAnalytics.Logger.setLogLevel('trace');
    console.log('warn');
    BMSAnalytics.log({'event':'Successfully registered for push'});
    BMSAnalytics.Logger.send();
    console.log('--------'+BMSAnalytics.Logger.isStoringLogs());
    console.log('send Logs');
    var promise=BMSAnalytics.send();
    promise.then(function(result) {
      console.log(result); // "Stuff worked!"
    }, function(err) {
      console.log(err); // Error: "It broke"
    });
  }
  
  </script>



  </head>
<body>

  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">ACME <span>Group</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar_area">
        <ul class="nav navbar-nav navbar-right custom_nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="">Offers</a></li>
          <li><a href="">Contact Us</a></li>
           <li><a href=""><span id="userNameSpan"></span></a></li>          
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  

  <script>

  $("#maindiv").attr('style', 'visibility: visible');
    $('#userNameSpan').html('<%= name %>');



    // Call to Enable Analytics and Push from here.

    enableAnalytics();



</script>


  <section id="service">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="service_area">
          <div class="service_title">
            <br><br>
            <h2>Local Challenges. Global Results. </h2>
            <p>There is no one-size-fits-all solution to complex issues. Progress Makers empower local experts to tackle long-standing challenges in their community.</p>
          </div>
          <ul class="service_nav wow flipInX">
            <li>
                <a class="service_icon" href="#"><i class="fa fa-gears"></i></a>
                <h2>Blockchain: The New Technology of Trust</h2>
                <p>At its core, a blockchain is a transparent and secure record of transactions. Take an interactive tour of how the technology works and start to envision its potential for redefining the nature of everyday transactions.</p>
                <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
              </li>
              <li>
                <a class="service_icon" href="#"><i class="fa fa-users"></i></a>
                <h2>Welcome to social Banking</h2>
                <p>Driven by the need to provide relevant services for younger and upwardly mobile customers, we are offering you social networking banking. You can get the real banking service through Twitter or Slack, SMS and email.</p>
                <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
              </li>
              <li>
                <a class="service_icon" href="#"><i class="fa fa-support"></i></a>
                <h2>Car Loan</h2>
                <p>Axis Bank offers unique features on Car Loans. Now you can buy your favourite car and avail exclusive benefits only with Axis Bank Exclusive features: Upto 100% funding, Max tenure of 7 years, Low EMI and Quick Disbursement.</p>
                <a class="read_more" href="#">read more<i class="fa fa-long-arrow-right"></i></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.animate-enhanced.min.js"></script>
  <script src="js/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/custom.js"></script>
  </script>
  </body>
</html>
